*.class
pull_from_github_and_restart.sh
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/
_site/
.sass-cache/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.
